body
{
    margin: 4%;
    background-color: #F0F2EF;
    font-family: 'Source Code Pro', monospace;
}
/* nav bar */
nav
{
    margin-top: 4%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
}

#census-logo
{
    width: 100%;
    box-sizing: border-box;
}

#census-logo a
{
    font-size: 50px;
    text-decoration: none;
    color:  #519872;
}

#census-navigator
{
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

#census-navigator a
{
    font-size: 25px;
    margin-right: 15px;
    text-decoration: none;
    color:  #519872;
}
/* population count down */
.population-count-down
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5%;
    margin-bottom: 3%;
}

.population-count-down-boxes
{
    width: 87%;
    height: 78px;
    padding: 6%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.text{
    margin-left: -10%;
}
.text p{
    margin: 0px;
}

.population-count-down-boxes .pop-txt
{
    font-size: 20px;
    color: #828282;
}

.population-count-down-boxes .pop-figure
{
    font-size: 35px;
}

.icon_box
{
    color: #ffffff;
    width: 66%;
    height: 66px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background-color: #519872;
}
.icon_box i {
    font-size: 70px;
}
/* population count down graphics */
.population-graphics
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2%;
    margin-bottom: 3%;
}

.county-bar-chat
{
    width: 84%;
    height: 320px;
    padding: 8%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.gender-pie-chat
{
    width: 100%;
    height: 450px;
    background-color: #519872;
    border-radius: 5px 5px 5px 5px;
}
/* graphics of district population per county */
.district-bar-chat
{
    width: 90%;
    height: 550px;
    padding: 4% 5% 8% 5%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 3%;
}

.counties-and-district
{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.district-txt
{
    font-size: 25px;
}

select
{
    padding: 2.5% 2% 2.5% 2%;
    font-size: 20px;
    background-color: #F0F2EF;
    border: 4px solid #B1D2C2;
}

/* data download */
.download-area
{
    width: 96%;
    height: 100px;
    padding: 2%;
    background-color: #519872;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 7fr 3.3fr;
}

.download-txt1 
{
    color: #ffffff;
    margin: 0px;
}

.download-txt1 p{
    font-size: 30px;
}

.download-btn
{
    width: 87%;
    height: 48px;
    padding: 6%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.download-icon
{
    margin-top: 2%;
    width: 40%;
    height: 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    background-color: #519872;
}

.download-icon i {
    margin-top: 5px;
    font-size: 30px;
    cursor: pointer;
}

.download-txt2
{
    color: #519872;
    margin-left: -28%;
    margin-top: -44px;
}

.download-txt2 p
{
    font-size: 40px;
}

/* graphics of househpld population per county */
.household-and-county-rank
{
    display: grid;
    grid-template-columns: 1.5fr .8fr;
    grid-gap: 2%;
}

.household-bar-chat
{
    width: 84%;
    height: 320px;
    padding: 4% 8% 12.5% 8%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.counties-and-household
{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.household-txt
{
    font-size: 20px;
}

.rank-county-of-most-gender
{
    width: 86%;
    height: 384px;
    padding: 8%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.most-male-and-female
{
    font-size: 1.3em;
}